---
import Prose from "@components/Prose.astro";
import { getCollection } from "astro:content";
import CvLayout from "src/layouts/CvLayout.astro";

const _projects = await getCollection("projects");
let projects = _projects.filter((p) => p.data.cv && !p.data.sidebar);
projects = projects.sort((a, b) => (a.data.featured ? 1 : 0));
const sidebarProjects = _projects.filter((p) => p.data.sidebar);

const skills = [
  {
    title: "Programming Languages",
    desc: "JavaScript/TypeScript, HTML, CSS, Sass, PHP, Python, Dart",
  },
  {
    title: "Libraries & Frameworks",
    desc: " React, Next.js, Nest.js, React Native, Flutter, Django, Tailwind, GraphQL, WebRTC, Socket.IO",
  },
  {
    title: "Tools",
    desc: "Git, GitHub, Netlify, Vercel, Fly, Docker, Webpack, Figma",
  },
];
---

<style scoped>
  #section #section-title {
    color: rgb(59 130 246);
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 600;
    margin-bottom: 1.25rem /* 20px */;
  }
</style>

<CvLayout>
  <Fragment slot="sidebar">
    <div id="section">
      <h4 id="section-title">Skills</h4>

      <ul>
        {
          skills.map((skill) => (
            <li class="mb-5">
              <h6>{skill.title}</h6>

              <span class="text-gray-500 text-sm">{skill.desc}</span>
            </li>
          ))
        }
      </ul>
    </div>

    <div id="section">
      <h4 id="section-title">Projects</h4>

      <ul id="projects">
        {
          sidebarProjects.map((project) => (
            <li class="mb-5">
              <h6>
                <a href={project.data.github ?? project.data.external}>
                  {project.data.name}
                </a>
              </h6>

              <span class="text-gray-500 text-sm">
                {project.data.description}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
  </Fragment>

  <Fragment slot="body">
    <div id="section">
      <h4 id="section-title">Relevant experiences</h4>

      <div id="projects">
        {
          projects.map(async (project) => {
            const { Content } = await project.render();

            return (
              <div id="pr" class="mb-10">
                <div class="flex items-center mb-2 ">
                  <div id="title" class="font-semibold text-xl ">
                    <a
                      href={project.data.github ?? project.data.external}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {project.data.name}
                    </a>
                  </div>
                  <ul
                    id="tech-stack"
                    class="ml-2 flex gap-5 text-sm text-gray-500 list-disc before:content-['/'] "
                  >
                    {project.data?.tags?.map((tag) => {
                      return <li>{tag}</li>;
                    })}
                  </ul>
                </div>

                <p id="description">
                  <Prose isCV>
                    <Content />
                  </Prose>
                </p>
              </div>
            );
          })
        }
      </div>
    </div>
  </Fragment>
</CvLayout>
